body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #EFDFBB;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #722f37;
    color: white;
}

header a {
    color: white;
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1{
    color: #EFDFBB;
}
h2{
    color:#722f37;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}
.profile-image {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    float: left; /* Positions the image to the left */
    margin-right: 15px; /* Adds space between the image and the text */
    border: 2px solid #007BFF; /* Optional: Adds a border around the image */
}
